[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hazer"]
	path = hazer
	url = https://github.com/bnasr/hazer
	shallow = true
	registered = true
[submodule "phenoCDM"]
	path = phenoCDM
	url = https://github.com/bnasr/phenocdm
	shallow = true
	registered = true
[submodule "solrad"]
	path = solrad
	url = https://github.com/bnasr/solrad
	shallow = true
	registered = true
[submodule "wiad"]
	path = wiad
	url = https://github.com/bnasr/wiad
	shallow = true
	registered = true
[submodule "xROI"]
	path = xROI
	url = https://github.com/bnasr/xroi
	shallow = true
	registered = true
