[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hazer"]
	path = hazer
	url = https://github.com/bnasr/hazer
[submodule "phenoCDM"]
	path = phenoCDM
	url = https://github.com/bnasr/phenocdm
[submodule "solrad"]
	path = solrad
	url = https://github.com/bnasr/solrad
